body {
    font-family: sans-serif;
    font-size: 17px;
    color: #414042;
    margin: 0px;
    padding: 2em;
}

input {
        margin: .4rem;
        font    : .9em/1.5em "handwriting", sans-serif;

        border  : none;
        padding : 0 10px;
        width   : 240px;
        background: none;
}
  
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
  
form {
    position: relative;
  
    width  : 740px;
    height : 498px;
    margin : 0 auto;
} 

h1 {
    position : absolute;
    left : 415px;
    top  : 185px;
  
    font : 1em "typewriter", sans-serif;
}
  