[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dateutils = "*"
feedparser = "*"
requests = "*"
beautifulsoup4 = "*"
geopy = "*"
google-api-python-client = "*"
python-dotenv = "*"
azure = "*"
azure-ai-textanalytics = "*"
black = "*"
spacy = "*"

[requires]
python_version = "3.8"
